@use '@material/web/dialog/internal/dialog-styles';

[slot='headline'] {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

[showing-fullscreen] [slot='headline'] {
  flex-direction: row;
}

.headline {
  flex: 1;
  display: block;
  text-align: left;
}

.error {
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  padding: 0.5rem;
  margin-bottom: 1rem;
  > * {
    margin: 1rem;
  }
}
